# 18BCE2522

# Shashank Shukla

In [1]:
import numpy as np
import pandas as pd
from apyori import apriori

In [3]:
book_data = pd.read_csv('D:/Downloads/Book5.csv', header=None)

In [6]:
book_data

    0        1     2        3     4      5
0  T1  hotdogs  buns  ketchup   NaN    NaN
1  T2  hotdogs  buns      NaN   NaN    NaN
2  T3  hotdogs   NaN      NaN  coke  chips
3  T4      NaN   NaN      NaN  coke  chips
4  T5      NaN   NaN  ketchup   NaN  chips
5  T6  hotdogs   NaN      NaN  coke  chips

In [7]:
#converting dataframe into list
items = []
for i in range(0, 6):
    items.append([str(book_data.values[i, j]) for j in range(0,6)])

In [8]:
#generating apriori model
final_rule = apriori(items, min_support = 0.5, min_confidence = 0.7, min_lift = 1.2, min_legth = 2)

In [9]:
#grouping all the rulse into a list
final_results = list(final_rule)

In [12]:
final_results[0][0]

frozenset({'chips', 'coke'})

In [15]:
final_results[0]

RelationRecord(items=frozenset({'coke', 'chips'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'chips'}), items_add=frozenset({'coke'}), confidence=0.75, lift=1.5), OrderedStatistic(items_base=frozenset({'coke'}), items_add=frozenset({'chips'}), confidence=1.0, lift=1.5)])

In [16]:
final_results[1]

RelationRecord(items=frozenset({'coke', 'chips', 'nan'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'chips'}), items_add=frozenset({'coke', 'nan'}), confidence=0.75, lift=1.5), OrderedStatistic(items_base=frozenset({'coke'}), items_add=frozenset({'chips', 'nan'}), confidence=1.0, lift=1.5), OrderedStatistic(items_base=frozenset({'chips', 'nan'}), items_add=frozenset({'coke'}), confidence=0.75, lift=1.5), OrderedStatistic(items_base=frozenset({'coke', 'nan'}), items_add=frozenset({'chips'}), confidence=1.0, lift=1.5)])

In [18]:
final_results

[RelationRecord(items=frozenset({'coke', 'chips'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'chips'}), items_add=frozenset({'coke'}), confidence=0.75, lift=1.5), OrderedStatistic(items_base=frozenset({'coke'}), items_add=frozenset({'chips'}), confidence=1.0, lift=1.5)]),
 RelationRecord(items=frozenset({'coke', 'chips', 'nan'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'chips'}), items_add=frozenset({'coke', 'nan'}), confidence=0.75, lift=1.5), OrderedStatistic(items_base=frozenset({'coke'}), items_add=frozenset({'chips', 'nan'}), confidence=1.0, lift=1.5), OrderedStatistic(items_base=frozenset({'chips', 'nan'}), items_add=frozenset({'coke'}), confidence=0.75, lift=1.5), OrderedStatistic(items_base=frozenset({'coke', 'nan'}), items_add=frozenset({'chips'}), confidence=1.0, lift=1.5)])]

# This final result shows that the cofidence of the rule is 9.0 means 90%